<html>
    <head>
        <title> Movie API | Search engine</title>
    </head>
    <p> Search a movie title below</p>
    
    <form action="/api" method="post">
        <input type="text" name="query" placeholder="Search a movie here">
        <button> Search IMDB </button>
    </form>
    
    
</html>